[Unit]
Description=Images Service

[Service]
SyslogIdentifier=imageService
LimitRTPRIO=99
Restart=always
RestartSec=3
EnvironmentFile=/etc/systemd/system/images.service.d/images_env.conf

[Install]
WantedBy=multi-user.target
